<html>
    <body>
        <h1>Add a quote</h1>
        <form action="/addquote" method="post">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username"><br>
            <label for="quote">Quote:</label>
            <input type="text" name="quote" id="quote"><br>
            <input type="submit" value="Add Quote">
        </form>
        <a href="/showquotes">Show All Quotes</a>
    </body>
</html>