<html>
    <body>
        <h1>List of Animals</h1>
        <% for (x in animals) { %>
            <p>ID: <%= animals[x].id %>, Type: <%= animals[x].type %>, Num of Legs: <%= animals[x].numLegs %>, Mobility Type: <%= animals[x].mobilityType %></p>
        <% } %>
    </body>
</html>