<html>
    <body>
        <h1>Add a new animal</h1>
        <form action="/animals" method="post">
            <label for="id">ID:</label>
            <input type="text" id="id" name="id"><br>
            <label for="type">Type:</label>
            <input type="text" id="type" name="type"><br>
            <label for="numLegs">Number of Legs</label>
            <input type="text" id="numLegs" name="numLegs"><br>
            <label for="mobilityType">Mobility Type</label>
            <input type="text" id="mobilityType" name="mobilityType"><br>
            <input type="submit" value="Add">
        </form>
    </body>
</html>