<html>
    <body>
        <form action="/post/save" method="post">
            <label for="post">Post</label><br>
            <textarea name="post" id="post" cols="50" rows="10"></textarea><br>
            <input type="submit" value="Post">
        </form>
    </body>
</html>

