<html>
    <body>
        <h1>Blog Post App!</h1>
        <% for (x in posts) { %>
            <p><%= posts[x].text %></p>
            <form action="/post/<%= posts[x]._id %>" method="post">
                <textarea name="comment" cols="30" rows="5"></textarea><br>
                <input type="submit" value="Comment">
            </form>
        <% } %>                    
    </body>
</html>