<html>
    <body>
        <h2>Error: See details below:</h2>
        <% if (err) { %>
            <p><%= err %></p>
        <%  } %>
    </body>
    <form action="gohome" method="post">
        <input type="submit" value="Go Back">
    </form>
</html>